<!DOCTYPE html>
<html>
<head>
	 <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <title> DietBud Landing Page</title>
                <link rel="stylesheet" type="text/css" href="../static/styles/landing.css" />
                <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
	<header>
        	<a href="#" class="logo">dietbud</a>
                <div class="bx bx-menu" id="menu-icon"></div>

                    <ul class="navbar">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        </ul>
        </header>
		<section class="about" id="about">
                        <div class="about-img">
                                <img src="../static/burger.jpg">
                        </div>
		 </section>
		 <section>
                        <div class="about-text">
                                <span>Contacts</span>
                                <h2>We speak the good <br> food language</h2>
                                <p>Welcome to Dietbud - your go-to resource for delicious and healthy recipes! We are a team of passionate developers who are dedicated to providing our users with a wide range of recipes and nutritional information to help them plan and enjoy their meals.
                                        Our mission is to make healthy eating easy and enjoyable by providing a user-friendly platform that makes it easy for you to find recipes that fit your dietary needs and preferences. We understand that everyone's nutritional requirements are unique, which is why we provide detailed nutritional information for each recipe. However, we want to make it clear that we are not licensed nutritionists and our information should not replace professional advice.
                                        Our team consists of Najjib Mutyaba, Lourdel Kigudde, and Ian Kitembe - food enthusiasts who are passionate about sharing their love of good food with others. We are constantly updating our catalog of recipes to include a wide range of options, from healthy meals to decadent desserts and cocktails.
                                        We believe that food should be enjoyed and celebrated, and we strive to create a community where people can come together to share their love of food and healthy living. We value your feedback and suggestions, so please don't hesitate to reach out to us with any comments or questions.
                                        Thank you for choosing Dietbud as your resource for delicious and healthy recipes!</p>
                        </div>

                </section>
</body>
</html>

