<!--This is meta data that does not dispaly on our page but is useful for engines and identification-->
<!DOCTYPE html>
<html>
<head>
        <title>Food Gallery</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Yummy Food Gallery">
        <meta name="keywords" content="yummy", "Food", "Gallery">
        <link rel="stylesheet" href="../static/styles/smv.css" />
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
		    <link rel="preconnect" href="https://fonts.googleapis.com">
		    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>

	<body>
		<header>
			<a href="#" class="logo">dietbud</a>
			<div class="bx bx-menu" id="menu-icon"></div>

			<ul class="navbar">
				<li><a href="#home">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</header>



    
    <main>
        <section class="inner">
            <h2 id="rol">Rolex</h2>
            <img src="https://th.bing.com/th/id/R.a5425de131a8aa132cecf6284e553d57?rik=PKL%2f04AxvRalUQ&pid=ImgRaw&r=0" alt="image" class="rolex">
        </section>
        <section class="servings">
                <div id="servings">SERVINGS:</div>
                <div id="servings2">4</div>
                <div id="calories">CALORIES:</div>
                <div id="calories2">200</div>
                <div id="prep">PREP:</div>
                <div id="prep2">10 min</div>
                <div id="cook">COOK:</div>
                <div id="cook2">15 min</div>
        </section>
        <section class="quick">
            <h4 id="fix">QUICK FIX, EAT HOT, TASTY</h4>
            <p>
                    A rolex is simillar to a vegetable omelet. Cabbage, tomato, and onion are cooked with eggs and then rolled into a chapati, a tortilla-like unleavened flatbred.
            </p>
        </section>
        <section class="table">
          <h1 class="ing">INGREDIENTS</h1>
            <table>
                <thead ></thead>
                <tbody>
                  <tr>
                    <td>Eggs</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Onions</td>
                    <td>1 small/half medium</td>
                  </tr>
                  <tr>
                    <td>Tomatoes</td>
                    <td>1 medium/half large</td>
                  </tr>
                  <tr>
                    <td>Cooking oil</td>
                    <td>2/3 teaspoons</td>
                  </tr>
                  <tr>
                    <td>salt</td>
                    <td>1 pinch</td>
                  </tr>
                  <tr>
                    <td>chapati</td>
                    <td>on request</td>
                  </tr>
                </tbody>
              </table>
              
        </section>
        <section class="inst">
          <h3 id="ing">INSTRUCTIONS</h3>
              <ol>
                  <li>Chop the onions and tomatoes into small pieces.</li>
                  <li>Heat oil in a pan and add the onions and tomatoes.</li>
                  <li> Beat the eggs in a bowl and add salt to taste.</li>
                  <li>Cook until the onions are translucent.</li>
                  <li>Add the eggs to the pan and cook until the eggs are set.</li>
                  <li>Roll the eggs into a chapati or tortilla.</li>
                  <li>Enjoy</li>
              </ol>
        </section>
    </main>
</body>
</html>